* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #d3c6f2;
}

header {
	background-color: #3F41DB;
	text-align: center;
	padding: 8px;
	height: 55px;
	color: #fff;
	border-bottom: 3px #ff0066 solid;
	width: 100%;
}

/*  div containing buttons  */
#buttons {
	margin: 10px;
    margin-bottom: 15px;
}

.button {
	-webkit-appearance: none;
	padding: 0 5px;
	margin: 2px;
	font-size: 16px;
    line-height: 25px;
    border-radius: 5px;
    color: #fff;
	background-color: #642fe0;
	border: 1px solid #270870;
}

.button:hover {
	background-color: #a57fff;
	font-size: 18px;
}

button:focus {
  outline: none;
}

#clear {
	background-color: #ff0066;
	margin: 10px;
	width: 150px;
}

/* div containing giphys */
#cartoons {
	float: left;
	width: 66%;
	margin-bottom: 45px;
}

p {
    margin: 5px;
}

img {
	height: 175px;
}

.giphy {
	display: inline-block;
	margin: 0 5px;
}

/* div containing search */
#cartoonForm {
	float: right;
	width: 33%;
}

#newCartoon, #cartoonInput, #addCartoon {
	display: block;
}

#addCartoon {
	float: right;
	margin-right: 9%;
}

#newCartoon {
	font-weight: bolder;
	font-size: 20px;
	padding-left: 5px;
	color: #ff0066;
	letter-spacing: 1.5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#cartoonInput {
	margin: 8px 0;
	line-height: 25px;
	font-size: 18px;
	width: 90%;
    border-radius: 5px;
}

/*css for placeholder*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
  color: #ffafaf;
}
::-moz-placeholder { /* Firefox 19+ */
  padding: 5px;
  color: #ffafaf;
}
:-ms-input-placeholder { /* IE 10+ */
  padding: 5px;
  color: #ffafaf;
}
:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
  color: #ffafaf;
}


/*Footer*/
#footerHolder {
	margin-left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
	clear: both;
}

footer {
	background: #3F41DB;
	height: 35px;	
	margin: auto;
	color: #fff;
	text-align: center;
	padding: 8px;
	border-top: 3px #ff0066 solid;
	font-size: 14px;
}

    .cf:after {
      content: "";
      display: table;
      clear: both;
    }

@media screen and (max-width: 870px) {
	#buttonArticle {
	text-align: center;
	}

	#clear {
		width: 50%;
	}

	img {
		max-width: 90%;
	}

	#cartoons {
		float: none;
		width: 100%;
	}	

	#cartoonForm {
		float: none;
		width: 100%;
	}
	
	#addCartoon {
		float: none;
		width: 50%;
	}

	#newCartoon {
		text-align: center;
	}

	#cartoonInput, #addCartoon {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

}

@media (hover: none) {
    .button:hover {
	background-color: #642fe0;
	font-size: 16px;
	}
}