body {
	background: #d3c6f2;
}

.button {
	margin: 2px;
	font-size: 16px;
    line-height: 25px;
    border-radius: 5px;
    color: #fff;
	background-color: #642fe0;
	border: 1px solid #270870;
}

#buttons {
	margin: 10px;
    margin-bottom: 15px;
}

#cartoonForm {
	float: right;
	width: 33%;
}

#newCartoon, #cartoonInput, #addCartoon {
	display: block;
}

#newCartoon {
	font-weight: bolder;
	font-size: 20px;
}

#cartoonInput {
	margin: 8px 0;
	line-height: 25px;
	font-size: 18px;
}


